.add-exam, .exam-categories {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.add-exam label, .exam-categories label {
    display: block;
    margin-bottom: 5px;
}

.add-exam input, .exam-categories input {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.exam-categories table {
    width: 100%;
    border-collapse: collapse;
}

.exam-categories th, .exam-categories td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.exam-categories th {
    background-color: #dfdfdf;
}


.edit-link {
    font-size: medium;
    font-weight: bold;
    color: rgb(119, 119, 119);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .edit-link:hover {
    color: #3eb13c; /* Darker red on hover */
    animation: pulse 0.5s infinite alternate;
  }

.delete-link {
    font-size: small;
    font-weight: bold;
    color: red;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .delete-link:hover {
    color: #600000; /* Darker red on hover */
    animation: pulse 0.5s infinite alternate;
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

  .quiz-topic-header {
    color: rgb(52, 80, 122);
    font-weight: bold;
  }

button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #3e3da0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #946cb4;
}
  